.character-card {
  background:  #8d8ed3;
  border: 1px solid #180707;
  border-radius: 6px;
  padding: 10px;
  text-align: center;
}

.character-card img {
  /* Importante para que no se “desborde” */
  width: 100%;
  height: auto;
  display: block;
  border-radius: 4px;
}

.character-card h4 {
  font-size: 16px;
  margin: 8px 0;
}
.character-card h4 a {
  text-decoration: none;
  color: black;
}


.character-card p {
  font-size: 14px;
  color: #1e1b1b;
  margin-top: 6px;
}

button {
  background-color: #1366cc;
  color: rgb(11, 1, 1);
  border-color: black;
  padding: 8px 16px;
  margin: 10px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}