.card{
   width: 18%;
}
.character-card {
  background: #8d8ed3;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 12px;
  text-align: center;
  flex-direction: column;
  align-items: center; 
  
}

.character-card img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 6px;
}

.character-card h4 {
  margin: 10px 0 6px;
  font-size: 16px;
  color: #0e1726;
  font-weight: 700;
  display: flex;
  justify-content: center;
}

.character-card h4 a {
  text-decoration: none;
}

.character-card p {
  margin: 6px 0 10px;
  font-size: 14px;
  color: #222;
}

.character-card button {
  display: inline-block;
  padding: 8px 10px;
  margin: 6px 0;
  border: 1px solid #0b2440;
  border-radius: 6px;
  background: #1366cc;
  color: #fff;
  font-weight: 600;
}

@media (max-width: 640px) {
  .cards-grid {
    flex-direction: column;
    align-items: center;
  }

  .character-card {
    width: 100%;
  }

  .character-card h4 {
    font-size: 14px;
  }

  .character-card p {
    font-size: 13px;
  }

  .character-card button {
    width: 70%;
  }
}