.boton-cargar {
  margin-top: 16px;
  margin-bottom: 16px;
  text-align: center;
  size: 50px;
}

.btn {
  background-color: #0070f3;
  color: black;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
}

.btn:hover {
  background-color: #005bb5;
}

h2{
    margin: 10px;
    text-align: center;
    color: #005bb5;
}

.form-filtro {
    text-align: center;
    margin: 20px;
}