* {
  box-sizing: border-box;
  margin: 3px;
  padding: 2px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #0e234c;
  color: #333;
}
a {
  color: #0070f3;
  text-decoration: none;
}

