.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 16px;
  padding: 20px;
}

.home-block__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px; 
    font-size: 22px;
    font-weight: 600;
    color: #1366cc;

}

.home-block__header a {
    color: #1366cc;
    margin-left: 10px;
    font-size: 22px;
    font-weight: 600;
    text-decoration: none;
    background-color: thistle;
    padding: 5px;
    border-radius: 8px;
    border-color: #1366cc;
}